<library path="lib/librqt_mbgl">
  <class name="rqt_vector/MapboxGLPlugin" type="rqt_mbgl::MapboxGLPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      An example C++ Mapbox GL Native plugin.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Mapbox GL Native</label>
      <icon type="file">resources/mb/mb-icon.png</icon>
      <statustip>Mapbox GL Native plugin for rendering vector tiles.</statustip>
    </qtgui>
  </class>
</library>
